/* обнуление стилей */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* внутренный отступ от рамки экрана */
body{
    padding: 20px;
}

.main{
    padding: 30px;
    border: 1px solid lightblue;
    box-shadow: 0 0 15px 5px rgb(66, 159, 188);
    border-radius:10px;
    color:grey;
    
}


.header{
    background-color: lightskyblue;
    color: white;
    height: 250px;
    /* используем flex, чтобы выровнять текст по центру  */
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 50px;
}

.name_input input{
    /* ширина input занимает всю строку блока */
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px 0;
}
.email input{
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px 0;
}
.phone input{
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px 0;
}
.quest1 input{
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px 0;
}
.quest2 input{
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px 0;
}
.quest3 select{
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px 0;
}
.quest4 label{
    color:#3263CC;;
    margin: 10px 0px;      
    padding: 10px 0px;    
}
.quest4{
    padding: 10px 0px 0px 0px;    
}

.chk1 label{
    color:black;
}
.chk2 label{
    color:black;
}
.chk3 label{
    color:black;
}
.chk1, .chk2, .chk3 {
    margin: 5px 0px;
}
.quest5 label{
    color:grey;
}
.quest5{
    margin: 10px 0px;      

}
.radio1,.radio2,.radio3{     
     padding: 5px 0px 0px 0px; 
}
.radio1 label{
    color:black;
}
.radio2 label{
    color:black;
}
.radio3 label{
    color:black;
}
.quest6 textarea{
     width: 100%;
      border: 1px solid lightgray;
      border-radius: 5px;
    margin: 5px 0;
}
.button{
    display: flex;
   justify-content:center;
}
.button button{
    background-color:#3263CC;
    color:aliceblue;
    padding: 7px 50px;
    border: #3263CC;
    border-radius: 5%;
    margin: 10px 0px;
}